body {
	background-color: #67C1D7;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

#app {
	margin: 20px;
}

a {
	color: #fff;
	font-size: 0.7em;
	letter-spacing: 0.02em;
	margin-right: 20px;
	padding: 8px 12px;
	transition: .2s ease-in-out;
	background-color: #008CA5;
	text-decoration: none;
}

a:hover {
	color: #E4F0F2;
	background-color: #006F83;
}

a:visited {
	color: #fff;
}

main {
	margin: 0 auto;
}

.wrap {
	margin: 140px auto 0;
	text-align: center;
}

h1 {
	margin: 0 auto 40px;
	min-width: 200px;
	max-width: 400px;
	padding: 0 40px;
	text-align: center;
	border: 10px solid #fff;
	font-size: 4em;
	line-height: 1.5em;
	box-shadow: 1px 2px 4px rgba(10, 10, 10, .5);
	text-shadow: 1px 2px 4px rgba(10, 10, 10, .5);
	text-transform: uppercase;
	font-family: 'Montserrat', Georgia;
	transition: .5s ease-in-out;
}

.wrap p {
	font-weight: 100;
	letter-spacing: 0.02em;
	max-width: 80%;
	text-align: left;
	margin: 0 auto;
}

.profile {
	max-width: 80%;
	margin: 0 auto;
}

.bill {
	margin: 20px 0;
	border-radius: 50%;
}

.client .caption {
	padding: 30px;
	background-color: #fff;
	color: #008CA5;
	box-shadow: 1px 2px 4px rgba(10, 10, 10, .5);
}

.client h3 {
	margin-top: 0;
	padding-top: 0;
}

.client {
	margin: 20px auto 0;
}

.thumb {
	border: none;
}
